body{
  background-image: url('https://cdn.wallpapersafari.com/34/60/bATz10.png');
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
}

.menu{
  background-color: white;
}

a{
  color: teal;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.menu li{
  list-style: none;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.site-title{
  color: whitesmoke;
  text-align: center;
}

.site-subtitle{
  color: grey;
  text-align: center;
  font-style: italic;
}