* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/fundo.jpg');
  /*url('https://cdn.wallpapersafari.com/34/60/bATz10.png'); */
  background-size: auto 100vh;
  font-family: 'M PLUS Code Latin', sans-serif;
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar os estilos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: 1s ease 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {

  from {

    transform: scale(0.2) translateY(50vh);
    opacity: 0;

  }

  to {

    transform: scale(1) translateY(0);
    opacity: 1;

  }

}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu a {
  padding: 10px;
  display: block;
  transition: background-color 1s, color 1s;
}

a {
  color: teal;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
}

a:hover {
  text-decoration: underline;
}

.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu a:active,
.menu a:hover {
  background-color: teal;
  color: white;
}

.site-title {
  color: whitesmoke;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

.site-title {
  font-size: 4em;
}

.site-subtitle {
  color: black;
  text-align: center;
  font-style: italic;
  font-family: 'Source Code Pro', monospace;
}

.sobre,
.contato,
.portfolio {
  padding: 2em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}


.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em -48px);
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 1.5em;
}

.sobre p {
  color: white;
  margin-bottom: 1.4em;
  text-indent: 1.4em;
  text-align: justify;
}

.sobre .avatar{
  float: left;
  margin-right: 1em;
}

.sobre .avatar img{
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  width: 400px;
  height: 400px;
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.2) rotate(-2deg);
}

.contato a {
  color: black;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px white;
}

.contato .icons {
  text-align: center;
}